@* the manage UI is only meant for admins - so additional protection is added just in case it's on the wrong page *@
@if(Permissions.UserMayEditContent){
    @RenderPage("_Shared-Assets.cshtml")

    var all = AsDynamic(Data["Links"]);
    var Lib = CreateInstance("_library.cshtml");
    var newKey = Lib.GenerateCode(App.Settings.GenerateKeyPrefix, (int)App.Settings.GenerateKeyLength, true);
     
    <link rel="stylesheet" href="@App.Path/assets/styles.css" data-enableoptimizations="bottom" />

    <div class="container-fluid app-shortlinks-wrapper">
        <div class="ly-container-inner">
            <div class="row">
                <div class="col-12">
                    <ul class="nav justify-content-end mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="http://app-dev.2sxc.org/shortlink-system/en-us">EN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://app-dev.2sxc.org/shortlink-system/de-de">DE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1>QR-Codes</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @RenderPage("_Shortlink-Table.cshtml", new {Links = all, Lib = Lib})

                    @RenderPage("_New-Buttons.cshtml", new { Lib = Lib})

                    <div class="configuration-info mt-5">
                        <h3>Shortlink Configuration</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Real Domain:</strong> @(App.Settings.TargetProtocol)@(App.Settings.TargetDomain)</li>
                            <li class="list-group-item"><strong>Test Domain:</strong> @(App.Settings.Protocol)@(App.Settings.ShortDomain)</li>
                            <li class="list-group-item"><strong>Keyword Prefix:</strong> @(App.Settings.GenerateKeyPrefix)</li>
                            <li class="list-group-item"><strong>Keyword length:</strong> @(App.Settings.GenerateKeyLength)</li>
                            <li class="list-group-item pb-0"><strong class="d-inline-block mb-3">QR:</strong>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><strong>Background Color:</strong> @(App.Settings.QrBackgroundColor)</li>
                                    <li class="list-group-item"><strong>Foreground Color:</strong> @(App.Settings.QrForegroundColor)</li>
                                    <li class="list-group-item"><strong>Size:</strong> @(App.Settings.QrDimension)</li>
                                </ul>
                            </li>
                            <li class="list-group-item"><strong>Web.config configuration:</strong> <a href="@Link.To(parameters: "webconfig=true")">instructions</a></li>
                            <li class="list-group-item"><strong>Configuration Complete:</strong> @(App.Settings.ConfigurationComplete == true ? "✔️" : "🚫")
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
