@inherits Custom.Hybrid.Code12
@{
  var res = App.Resources;
  var sett = App.Settings;
}

@* the manage UI is only meant for admins - so additional protection is added just in case it's on the wrong page *@
@if(!Edit.Enabled) { return; }

<div class="container-fluid app-shortlinks-wrapper" @Edit.TagToolbar(Content)>
  <div class="ly-container-inner">
    <div class="row">
      <div class="col-12">
        <h1>@res.TableTitle</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        @Html.Partial("shared/_Shortlink-Table.cshtml", new {Links = AsList(App.Data["Link"])})

        @Html.Partial("shared/_New-Buttons.cshtml")

        <div class="configuration-info mt-5">
          <h3>@res.ShortlinkConfiguration</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>@res.ConfigurationCompleted</strong>
              @(sett.ConfigurationComplete == true ? "✔️" : "🚫")
              @Html.Raw(res.ConfigurationInstructions)
              and <a href='@Link.To(parameters: "webconfig=true")' target="_blank">Web.Config Snippet</a>
            </li>

            <li class="list-group-item"><strong>@res.TargetDomain</strong> @("//" + sett.TargetDomain)</li>
            <li class="list-group-item"><strong>@res.ShortDomain</strong> @("//" + sett.ShortDomain)</li>

            <li class="list-group-item"><strong>@res.DefaultKeyPrefixes</strong> @sett.GenerateKeyPrefix</li>
            <li class="list-group-item"><strong>@res.DefaultKeyLength</strong> @sett.GenerateKeyLength</li>

            <li class="list-group-item"><strong>@res.QrBackgroundColor</strong> @sett.QrBackgroundColor</li>
            <li class="list-group-item"><strong>@res.QrForegroundColor</strong> @sett.QrForegroundColor</li>
            <li class="list-group-item"><strong>@res.QrSize</strong> @sett.QrDimension</li>
          </ul>
          <h3>@res.ShortlinkPro</h3>
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>@res.EnablePro</strong> @sett.EnablePro</li>
              <li class="list-group-item"><strong>@res.SvgBackgroundColor</strong> @sett.QrSvgBackground</li>
              <li class="list-group-item"><strong>@res.SvgForegroundColor</strong> @sett.QrSvgForeground</li>
              <li class="list-group-item"><strong>@res.SvgSize</strong> @sett.QrSvgDimension</li>
              <li class="list-group-item"><strong>@res.SvgErrorCorrection</strong> @sett.QrSvgEcc</li>
              <li class="list-group-item"><strong>@res.SvgQuiteZone</strong> @sett.QrSvgQuietZone</li>
          </ul>
          <h3>@res.ShortlinkTracking</h3>
          <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>@res.EnableTracking</strong> @sett.EnableQrUseTracking</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

@Html.Partial("shared/_Assets.cshtml")
