@* the manage UI is only meant for admins - so additional protection is added just in case it's on the wrong page *@
@if(Permissions.UserMayEditContent){
    @RenderPage("_Shared-Assets.cshtml")

    var all = AsDynamic(Data["Links"]);
    var Lib = CreateInstance("_library.cshtml");
    var newKey = Lib.GenerateCode(App.Settings.GenerateKeyPrefix, (int)App.Settings.GenerateKeyLength, true);
     
    <link rel="stylesheet" href="@App.Path/assets/styles.css" data-enableoptimizations="bottom" />

    <div class="container-fluid app-shortlinks-wrapper">
        <div class="ly-container-inner">
            <div class="row">
                <div class="col-12">
                    <ul class="nav justify-content-end mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="http://app-dev.2sxc.org/shortlink-system/en-us">EN</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://app-dev.2sxc.org/shortlink-system/de-de">DE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1>QR-Codes</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    @RenderPage("_Shortlink-Table.cshtml", new {Links = all, Lib = Lib})

                    @RenderPage("_New-Buttons.cshtml", new { Lib = Lib})

                    <div class="configuration-info mt-5">
                        <h3>Shortlink Configuration</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Configuration Completed:</strong> 
                                @(App.Settings.ConfigurationComplete == true ? "✔️" : "🚫")
                                see <a href="@Link.To(parameters: "webconfig=true")">instructions</a>
                            </li>

                            <li class="list-group-item"><strong>Domain for relative redirects:</strong> @(App.Settings.TargetProtocol)@(App.Settings.TargetDomain)</li>
                            <li class="list-group-item"><strong>Short Domain:</strong> @(App.Settings.Protocol)@(App.Settings.ShortDomain)</li>

                            <li class="list-group-item"><strong>Keyword - Default Prefixes:</strong> @(App.Settings.GenerateKeyPrefix)</li>
                            <li class="list-group-item"><strong>Keyword - Default Length:</strong> @(App.Settings.GenerateKeyLength)</li>

                            <li class="list-group-item"><strong>QR - Background Color:</strong> @(App.Settings.QrBackgroundColor)</li>
                            <li class="list-group-item"><strong>QR - Foreground Color:</strong> @(App.Settings.QrForegroundColor)</li>
                            <li class="list-group-item"><strong>QR - Size:</strong> @(App.Settings.QrDimension)</li>
                        </ul>
                        <h3>Shortlink Pro (SVG)</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Enable Pro (SVG, EPS):</strong> @(App.Settings.EnablePro)</li>
                            <li class="list-group-item"><strong>SVG - Background Color:</strong> @(App.Settings.QrSvgBackground)</li>
                            <li class="list-group-item"><strong>SVG - Foreground Color:</strong> @(App.Settings.QrSvgForeground)</li>
                            <li class="list-group-item"><strong>SVG - Size:</strong> @(App.Settings.QrSvgDimension)</li>
                            <li class="list-group-item"><strong>SVG - ECC:</strong> @(App.Settings.QrSvgEcc)</li>
                            <li class="list-group-item"><strong>SVG - Quite Zone:</strong> @(App.Settings.QrSvgQuietZone)</li>

                        </ul>
                        <h3>Shortlink Pro QR Use Tracking and Shortening (CAP$)</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Enable CAP$:</strong> @(App.Settings.EnableQrUseTracking)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
