@using System.Linq
@{
  var Lib = PageData["Lib"];
  var config = PageData["Config"] as dynamic;

  // try to load from module settings first
  var pref = (config != null) ? config.Prefix : "";
  if(string.IsNullOrEmpty(pref)) {
    pref = App.Settings.GenerateKeyPrefix;
  }

  var prefixList = (pref as string).Split(',').Select(s => s.Trim());

  var length = (config != null && config.Length != null) ? (int)config.Length : 0;
  if(length == 0) {
    length = (int)App.Settings.GenerateKeyLength;
  }
}

<div class="btn-wrapper my-3">
  @foreach(var prefix in prefixList) {
    // generate a new random key for this page, in case the admin wants to add it
    var newKey = Lib.GenerateCode(prefix, length, true);

    <a href="javascript:;" class="btn btn-primary" onclick='$2sxc(this).manage.run("new", {contentType: "Link", prefill: { Key: "@newKey", Link: "@Request.RawUrl"}})'>
        @App.Resources.BtnCreate: @newKey
    </a>
  }
  <a href="javascript:;" class="btn btn-primary" onclick='var key = prompt("new key?"); if(!key) return; $2sxc(this).manage.run("new", {contentType: "Link", prefill: { Key: key, Link: "@Request.RawUrl"}})'>
      @App.Resources.BtnCreateManual
  </a>
</div>
