@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@{
  var helper = CreateInstance("shared/Helper.cs");

  // find all short-links pointing to this page
  var currentPath = Request.RawUrl.ToLower();
  var pageLinks = AsList(App.Data["Link"]).Where(x => x.Link.ToLower().Equals(currentPath));
}

<div class="container-fluid app-shortlinks-wrapper" @Edit.TagToolbar(Content)>
  <div class="ly-container-inner">
    @* public part *@
    @foreach(var link in pageLinks.Where(x => x.Show == true)) {
      var domainAndKey = Settings.ShortDomain + "/" + link.Key;
      var full = "//" + domainAndKey;
      <div class="row row-centered mt-4 mb-5">
        <div class="col-xs-4 col-sm-3 col-centered">
          <a href="@Tags.SafeUrl(full)" target="_blank" class="float-right">
            <img loading="lazy" src="@Link.Image(helper.QrLink(full))" width="80"><br>
            <small>@domainAndKey</small>
          </a>
        </div>
        <div class="col-xs-8 col-sm-4 col-centered">
          <h3 class="mt-0">
            @Resources.RecommendWithShortlink
            <span class="h5 mt-2 mb-4 d-block">
              <a href="@Tags.SafeUrl(full)" target="_blank">
                @domainAndKey
              </a>
            </span>
          </h3>
        </div>
      </div>
    }

    @* Admin UI: This shows the short-links pointing to the current page *@
    @if(Edit.Enabled) {
      <div class="row">
        <div class="col-12">
          @Html.Partial("shared/_Shortlink-Table.cshtml", new { Links = pageLinks })
        </div>
        <div class="col-12">
          @Html.Partial("shared/_New-Buttons.cshtml")
        </div>
      </div>
    }
  </div>
</div>

@Html.Partial("shared/_Assets.cshtml")
