@using Connect.Razor.Blade;
@{
    var links = PageData["Links"];
    var Lib = PageData["Lib"];
}

<table @Edit.TagToolbar(Content) class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@App.Resources.TableHlKey</th>
            <th>@App.Resources.TableHlGroup</th>
            <th>@App.Resources.TableHlTitle</th>
            <th>@App.Resources.TableHlTarget</th>
            <th class="text-center" title="Enabled or Retired/Disabled">✔️</th>
            <th class="text-center" title="Show to user">👁️</th>
            <th class="text-center">@App.Resources.TableHlQR</th>
            <th class="text-center">@App.Resources.TableHlTests</th>
        </tr>       
    </thead>
    <tbody>
    @foreach(var link in links) {
        var full = App.Settings.Protocol + App.Settings.ShortDomain + "/" + link.Key;
        var qr = Lib.QrLink(full);
        <tr>
            <td>
                <a href="javascript:;" onclick="$2sxc(this).manage.run('edit', {entityId: @link.EntityId})">
                    @link.Key
                </a>
            </td>
            <td>
                @{
                    var cat = ((IEnumerable<dynamic>)link.Group).FirstOrDefault();
                    var catTitle = cat != null ? cat.Title : "";
                }
                @catTitle
            </td>
            <td>@link.OLDTitle</td>
            <td>
                @{
                    var additionalAnalyticsParamBool = "";
                    var additionalAnalyticsParam = "";
                }
                @if(cat != null){
                    if(!string.IsNullOrEmpty(cat.EnableAddingQueryString)) {
                        additionalAnalyticsParamBool = @cat.EnableAddingQueryString;
                    } else {
                        additionalAnalyticsParamBool = @App.Settings.EnableAddingQueryString;
                    }
                } else {
                    additionalAnalyticsParamBool = @App.Settings.EnableAddingQueryString;
                }

                @if(additionalAnalyticsParamBool == "true"){
                    if(cat != null && !string.IsNullOrEmpty(cat.QueryStringAddition)){
                        additionalAnalyticsParam = @cat.QueryStringAddition;
                    } else {
                        additionalAnalyticsParam = @App.Settings.QueryStringAddition;
                    }

                    <a href="@Lib.TargetLinkWithParams(link.Link, additionalAnalyticsParam)" target='_blank'>
                        @Lib.TargetLinkWithParams(link.Link, additionalAnalyticsParam)
                    </a>
                } else {
                    <a href="@link.Link" target='_blank'>
                        @link.Link
                    </a>
                }
            </td>
            <td class="text-center">@(link.Retired == true ? "🚫" : "✔️")</td>
            <td class="text-center">@(link.Show == true ? "👁": "")</td>
            <td class="text-center">
                <a href="@qr" target="_blank">
                    QR
                </a>
            </td>
            <td class="text-center">
                <ul class="list-inline" >
                    <li class="list-inline-item">
                        <a class="is-not-underlined" href="@full.Replace("https:","http:")" target="_blank" title="@App.Settings.ShortDomain/@link.Key">🔗</a>
                    </li> 
                    <li class="list-inline-item">
                        <a class="is-not-underlined" href="@Lib.TestLink(link.Key)" target="_blank">#️⃣</a>
                    </li>
                </ul>
            </td>
        </tr>
    }
    </tbody>
</table>
           