@inherits Custom.Hybrid.Razor12

<h1>@Resources.RedirectSnippet</h1>
<textarea rows="15" cols="130">
  <!-- Rewrite all @Settings.ShortDomain/xyz to be handled by the redirect web service -->
  <rule name="Forward shortlinks to redirect-system" stopProcessing="true" enabled="true">
    <!-- handle urls with 1 and 25 numbers/chars; adapt it as you need it  -->
    <match url="^([A-Za-z0-9]{1,25})$" />

    <!-- we only want to capture urls on the shortdomain @Settings.ShortDomain -->
    <conditions>
      <add input="{HTTP_HOST}" pattern="^(www\.)?@(Settings.ShortDomain.Replace(".", "\\."))$" ignoreCase="true" />
    </conditions>

    <!-- note that the root path can have subportal name in it - if the app is installed in a sub-portal -->
    <!-- note also that in DNN9, the root path (after the sub-portal) is not desktopmodules/2sxc/api but instead /api/2sxc -->
    <action type="Rewrite" url='@Link.To(api: "api/redirect/go", parameters: "key={R:1}")' />
  </rule>
</textarea>

<h2>@Resources.AssemblySnippet</h2>
<p>@Resources.AssemblyDescription</p>
<textarea rows="3" cols="130">
  <!-- needed for shortlinks -->
  <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
</textarea>