@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;

@{
  var helper = CreateInstance("Helper.cs");

  // try to load from module settings first
  var pref = Content != null
    ? Text.First(Content.Prefix, Settings.GenerateKeyPrefix)
    : Settings.GenerateKeyPrefix;

  var prefixList = (pref as string).Split(',').Select(s => s.Trim());

  var length = Content != null && Content.Length != null
    ? (int)Content.Length
    : (int)Settings.GenerateKeyLength;
}

<div class="my-3">
  @foreach(var prefix in prefixList) {
    // generate a new random key for this page, in case the admin wants to add it
    var newKey = helper.GenerateCode(prefix, length, true);

    <a href="javascript:;" class="btn btn-primary" onclick='$2sxc(this).manage.run("new", {contentType: "Link", prefill: { Key: "@newKey", Link: "@Request.RawUrl"}})'>
      @Resources.BtnCreate: @newKey
    </a>
  }
  <a href="javascript:;" class="btn btn-primary" onclick='var key = prompt("new key?"); if(!key) return; $2sxc(this).manage.run("new", {contentType: "Link", prefill: { Key: key, Link: "@Request.RawUrl"}})'>
    @Resources.BtnCreateManual
  </a>
</div>
